/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: white;
}
body {
  animation: fadeInAnimation ease 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

/* First Container */
.first-container {
  width: 100%;
  height: 60rem;
  position: relative;
  border: none;
  overflow: hidden;
  object-fit: cover;
  background-image: url(images/Vector.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  border: none;
}
.my-svg {
  position: absolute;
}
.background-svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the SVG covers the entire container */
}

/* Navbar */
.first-navbar {
  position: relative;
  height: 10rem;
  width: 100%;
  margin: auto;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0px;
  gap: 35vw;
  background-color: transparent;
  border: none;
}
.navbar-logo {
  height: 100%;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
}
.navbar-logo > .navbar-brand {
  position: relative;
  height: 100%;
  width: 100%;
}
.navbar-buttons-home {
  position: relative;
  width: 30.625rem;
  height: 6rem;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 4px rgba(234, 121, 40, 0.25);
  border: 1px solid rgba(234, 121, 40, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0px;
  padding-left: 0px;
  width: 100%;
}
.nav-item {
  font-size: 19px;
  color: #6d2e00;
  font-family: "Nunito Sans", sans-serif;
  opacity: 0.4;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 8rem;
  text-align: center;
  box-sizing: border-box;
}
.links {
  color: #6d2e00;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  display: inline-block;
  width: 6rem;
  padding: 0.5rem 0;
}
.current-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3.2rem;
  border-radius: 100px;
  background-color: rgba(234, 121, 40, 0.25);
  opacity: 1;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.current-page > a {
  color: #6d2e00;
}
.navbar-hamburger {
  display: flex;
  height: 44px;
  width: 44px;
  height: 4vw;
  justify-content: center; /* Centers the list within the navbar-buttons-home div */
  align-items: center; /* Centers items vertically within the div */
  border: none;
  border-radius: 15px; /* Optional: For visualization */
  position: relative;
  background-color: #ffffff;
  right: 0;
  display: none;
}
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
}
.hamburger > button {
  border: none;
  background-color: #ffffff;
}

/* Side Navbar */
.side-navbar {
  position: fixed;
  top: 0;
  right: -50vw; /* Start off-screen to the right */
  width: 50vw;
  height: 100vh;
  background-color: rgb(250, 244, 239);
  z-index: 1000;
  box-shadow: 0px 0px 20px 4px rgba(255, 241, 230, 1);
  transition: right 0.3s ease-in; /* Smooth transition */
}
.side-navbar.active {
  right: 0; /* Moves the sidebar into view */
}
.side-navbar-heading-div {
  width: 100%;
  height: 10vh;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.side-navbar-heading {
  color: #6d2e00;
  font-size: 12px;
  margin-bottom: 0px;
}
.side-navbar-links {
  width: 100%;
  height: 30vh;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.side-navbar-para {
  border: none;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.side-navbar-para > p {
  font-size: 14px;
  color: #6d2e00;
}
.sidebar {
  color: #6d2e00;
  margin-left: 18px;
}

/* First Sub Container */
.first-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  top: 0px;
  height: 44vh;
  border: none;
}
.sub-first-div {
  position: absolute;
}
.lovely {
  color: #ea7928;
  font-size: 7rem;
  font-family: "Fenix", serif;
  padding-top: 0.714rem;
  padding-right: 1.286rem;
}
.sub-second-div {
  position: relative;
}
.simple {
  display: flex;
  width: 100%;
  align-items: center;
  color: #6d2e00;
  font-size: 2rem;
  font-weight: 550;
  font-family: "Nunito Sans", sans-serif;
  padding-left: 400px;
  word-spacing: 15px;
}

/* Buttons */
.buttons {
  width: 100%;
  height: 8vh;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.first-button,
.second-button {
  border-radius: 6px;
  height: 2.75rem;
  width: 8.25rem;
}
.first-button {
  background-color: #ea7928;
  color: white;
  border: none;
}
.second-button {
  border: 1px solid #ea7928;
  background-color: #fffcfa;
  color: #ea7928;
}
.second-button > a {
  text-decoration: none;
  color: #ea7928;
  font-weight: 500;
}
.first-button > a {
  text-decoration: none;
  color: #f7f7f7;
}

/* Special Brands */
.special-brands {
  position: relative;
  top: 9.75rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vw;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 100%;
}
.brands-heading-div {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands-heading {
  margin-bottom: 0rem;
  margin-left: 1.625rem;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  color: #6d2e00;
}
.brand-image-1,
.brand-image-2,
.brand-image-3,
.brand-image-4,
.brand-image-5 {
  border: none;
  width: 8rem;
}
.brand-images {
  max-width: 100%; /* Ensure images fit within their grid cells */
  max-height: 100%; /* Maintain aspect ratio and prevent overflow */
  object-fit: contain; /* Adjust image to fit within the container */
}

/* Special Form */
.special-form {
  display: block;
  height: auto;
  min-height: 40rem;
  width: 65.6rem;
  margin: auto;
  position: relative;
  top: 5rem;
  padding-top: 8rem;
}
.form {
  height: 100%;
  width: 100%;
  border: 1px solid #f8d4e8;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 4px rgba(255, 241, 230, 1);
  position: relative;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.actual-form {
  border: none;
  width: 100%;
  padding-left: 6rem;
}
.filling-form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-form > h1 {
  font-family: "Fenix", serif;
  font-size: 2.875rem;
}
.filling-form > .heading-form {
  width: 100%;
  display: flex;
}
.input-fields {
  border: none;
  width: 100%;
  height: 50vh;
}
.contact-name,
.city,
.postcode {
  outline: none;
}
.contact-name {
  width: 100%;
  height: 5rem;
  border: none;
  border-bottom: 1px solid #8e8e8e;
  font-weight: 600;
  padding-left: 0.625rem;
  color: #8e8e8e;
}
.multiple-inputs {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}
.city {
  width: 90%;
  border: none;
  padding-left: 0.625rem;
  height: 5rem;
  border-bottom: 1px solid #8e8e8e;
}
.postcode {
  width: 100%;
  border: none;
  padding-left: 0.625rem;
  height: 5rem;
  border-bottom: 1px solid #8e8e8e;
}
.form-submit-button {
  display: flex;
  width: 100%;
  height: 12vh;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
}
.form-submit-button > button {
  background-color: #dd4f04;
  width: 100%;
  border: none;
  border-radius: 10px;
  color: white;
  height: 8vh;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
}
.touch {
  background-color: transparent;
  color: #6d2e00;
}
.heading-form > h1 {
  word-spacing: 0px;
}
.city,
.postcode {
  font-weight: 600;
}
.form-image {
  padding-left: 4rem;
}
.first-form-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2.5rem;
  width: 16rem;
  margin: auto;
}
.first-form-image > img {
  width: 100%;
}
.first-form-para {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 4.3rem;
  width: 28.4rem;
  border: none;
}
.first-form-para > p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  word-spacing: 0.1rem;
}

/* Special Footer */
.special-footer {
  display: block;
  height: 36.5rem;
  width: 65.6rem;
  margin: auto;
  position: relative;
  top: 5rem;
}
.footer {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  display: flex;
}
.footer-first-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  border: none;
  position: relative;
  top: 1rem;
}
.footer-image {
  height: 40rem;
  width: 25rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-of-footer {
  width: 12.375rem;
  height: 12.375rem;
  border: none;
  background-image: url(images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -6.25rem;
  cursor: pointer;
}
.simple-save-lovely {
  height: 40rem;
  border: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  position: relative;
}
.footer-first-para {
  height: 50%;
  width: 14.375rem;
  border: none;
  display: block;
  position: relative;
  top: 11rem;
}
.footer-first-para > p {
  font-size: 24px;
  color: #0a142f;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}
.footer-first-info {
  position: relative;
  top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  height: 3rem;
}
.footer-first-info-second-div > div > p > a {
  font-size: 15px;
  color: #0a142f;
  font-family: "Nunito Sans", sans-serif;
}
.footer-first-info-second-div-inside-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 98%;
  border-bottom: 1px #0a142f;
  height: 2vh;
}
.footer-first-info-second-div > div > p {
  margin-bottom: 0px;
}
.footer-first-info-second-div {
  height: 1.6rem;
  border-bottom: 1px solid #0081fe;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-third-div {
  height: 40rem;
  width: 30rem;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.footer-second-third-div {
  width: 100%;
  position: relative;
  border: none;
  top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-last-third-div {
  width: 100%;
  height: 20vh;
  position: relative;
  border: none;
  top: 58px;
  display: none;
}
.footer-first-third-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}
.footer-sub-first,
.footer-sub-second {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  padding-top: 28vh;
}
.footer-sub-first > p {
  margin-bottom: 15px;
}
.footer-sub-second > p {
  margin-bottom: 9px;
}
p {
  margin-bottom: 0px;
}
.footer-second-last-button {
  height: 100%;
  width: 10%;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: none;
}
.footer-last-button {
  height: 40rem;
  width: 20rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-second-button {
  border: none;
  height: 10vh;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
}
.footer-button {
  border: none;
  height: 10vh;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -6.25rem;
}
.arrow-second-last-button {
  border: none;
  border-radius: 50%; /* Adjust if you want a circular button */
  background-color: #dd4f04;
  width: 50px; /* Adjust the button width to ensure it fits the image */
  height: 50px; /* Adjust the button height to ensure it fits the image */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}
.arrow-button {
  border: none;
  border-radius: 50%; /* Adjust if you want a circular button */
  background-color: #dd4f04;
  width: 50px; /* Adjust the button width to ensure it fits the image */
  height: 50px; /* Adjust the button height to ensure it fits the image */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative; /* Allows precise control over the image positioning */
}

.arrow-button img {
  width: 17px;
  height: 20px;
  object-fit: contain; /* Ensures the image fits without distortion */
  position: absolute; /* Ensures the image is centered precisely */
}
a {
  text-decoration: none;
  color: #0a142f;
}

/* Page-2 */
.special-apps {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.card-main-container {
  height: 100%;
  width: 100%;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1200px; 
}
.card-main-container-courses {
  height: 100%;
  width: 100%;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  background-image: url(images/Vector-product-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 2rem;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Force 2 columns */
  gap: 40px; /* Space between cards */
  justify-content: center; /* Ensure the cards stay centered */
  justify-items: center; /* Center the cards inside each column */
  padding: 0px;
  margin: auto; /* Center-align the grid in its container */
  max-width: 1000px; /* Optional: Set a max-width to avoid cards stretching too far apart */
}

@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: 1fr; /* On smaller screens, stack the cards in a single column */
    justify-items: center; /* Keep the cards centered in a single column */
  }
}




.card-container-courses {
  display: flex;
  overflow-x: scroll; /* Space between cards */
  padding: 0px;
  scroll-snap-type: x mandatory; /* Optional: for snap scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  z-index: 1;
  position: relative;
  gap: 12px;
}

.courses-card-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  width: 100%;
  max-width: 485px;
  height: auto; /* Allow height to be flexible */
  background-color: white;
  border: 3px solid #fff5ee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
}


.card h2 {
  margin-top: 0;
}
.card p {
  margin-bottom: 0;
}
.card-1-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  border: none;
}
.card-1-sub-div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  width: 118px;
  height: 118px;
}
.courses-1-sub-div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  width: 118px;
  height: 118px;
}
.others-1-sub-div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  width: 118px;
  height: 118px;
}
.courses-category {
  margin-left: 26px;
  display: flex;
  flex-wrap: nowrap;
}
.courses-category .card:nth-child(1),
.courses-category .card:nth-child(2) {
  border: 1px solid rgba(234, 121, 40, 0.25);
  width: 635px;
}
.courses-category .card-1-div {
  height: 50%;
}
.courses-category .courses-1-sub-div-1 {
  width: 252px;
  height: 140px;
}
.products-category {
  margin-left: 91px; /* default margin */
  display: flex;
  flex-wrap: wrap; /* default display */
}
.products-category .card {
  border: 1px solid rgba(234, 121, 40, 0.25); /* default border */
  width: auto; /* default width */
}
.products-category .card-1-div {
  height: auto; /* default height */
}
.products-category .card-1-sub-div-1 {
  width: auto; /* default width */
  height: auto; /* default height */
}
.others-category .form {
  border: 1px solid #ffbff1;
  box-shadow: 0px 0px 20px 4px rgba(255, 0, 199, 0.12);
}
/* CSS for Courses category */
.courses-card {
  border: 1px solid rgba(234, 121, 40, 0.25);
  width: 635px;
}
.courses-card .card-1-div {
  height: 50%;
}
.courses-card .courses-1-sub-div-1 {
  width: 252px;
  height: 140px;
}

/* Paragraph Container */
.paragraph-container {
  max-height: 13em; /* Initially show only the first part of the paragraph */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding-bottom: 40px; /* Ensure there's space for the button */
  position: relative;
}
.paragraph-container.expanded {
  max-height: 30em;
  overflow-y: auto;
}
.read-more-btn {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #46172f;
  background: none;
  border: none;
  z-index: 3;
  position: absolute;
  bottom: 10px; /* Position the button at the bottom */
  left: 50%;
  transform: translateX(-50%);
  transition: color 0.3s ease; /* Optional: smooth transition for color */
}
.paragraph-container.expanded::after {
  content: ""; /* Remove the ellipsis when expanded */
}
.card-1-sub-div-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-1-button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 47px;
  width: 180px;
  background-color: #fff5ee;
  border: none;
  gap: 10px;
  font-size: 16px;
  color: #6d2e00;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
}
.card-1-div-2 > p {
  font-size: 14px;
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
  line-height: 30px;
}
.read-more-btn {
  margin-top: 25px;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 47px;
  width: 200px;
  background-color: #fff5ee;
  border: none;
  gap: 10px;
  font-size: 16px;
  color: #6d2e00;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
}

/* Product Special Brand */
.product-special-brand {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 20rem;
  top: 3rem;
}

/* Second Page */
.second-page-first-buttons-div {
  width: 100%;
  height: 10rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle {
  position: relative;
  width: 30.625rem;
  height: 6rem;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 4px rgba(234, 121, 40, 0.25);
  border: 1px solid rgba(234, 121, 40, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses-rectangle,
.courses-navbar-buttons {
  box-shadow: 0px 0px 20px 4px rgba(234, 40, 40, 0.12);
}
.form-highlight {
  border: 1px solid rgba(234, 121, 40, 0.25);
  box-shadow: 0px 0px 20px 4px rgba(234, 40, 40, 0.12);
}
.more-navbar,
.more-rectangle {
  box-shadow: 0px 0px 20px 4px rgb(255, 0, 199, 0.12);
  border: 1px solid pink;
}
.more-form-highlight {
  border: 1px solid #ffbff1;
  box-shadow: 0px 0px 20px 4px rgba(255, 0, 199, 0.12);
}
.second-page-first-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0px;
  padding-left: 0px;
  width: 100%;
}
.first-first-list,
.first-second-list,
.first-third-list {
  font-size: 19px;
  color: #6d2e00;
  font-family: "Nunito Sans", sans-serif;
  opacity: 0.4;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
  padding: 0.5rem 1rem; /* Adjust padding for consistent space */
  width: 8rem; /* Set a fixed width to prevent movement */
  text-align: center; /* Center the text within the fixed width */
  box-sizing: border-box; /* Include padding and border in the element's size */
}
.second-page-current-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3.2rem;
  border-radius: 100px;
  background-color: rgba(234, 121, 40, 0.25);
  opacity: 1;
  padding: 0.5rem 1rem; /* Adjust padding */
  box-sizing: border-box; /* Ensure consistent sizing */
}

/* Responsive Styles */
@media (max-width: 2560px) {
  .first-navbar {
    height: 20rem;
  }
  .navbar-logo {
    width: 20rem;
  }
  .navbar-buttons-home {
    width: 38.625rem;
    height: 7rem;
  }
  .links,
  .first-button > a,
  .second-button {
    font-size: 1.5rem;
  }
  .first-button,
  .second-button {
    border-radius: 6px;
    height: 4.75rem;
    width: 15.25rem;
  }
  .buttons {
    height: 14vh;
  }
  .first-sub-container {
    height: 30vh;
  }
  .first-container {
    height: 90rem;
  }
  .simple {
    font-size: 2.2rem;
  }
  .h1,
  h1 {
    font-size: 4.5rem;
  }
  .brand-image-1,
  .brand-image-2,
  .brand-image-3,
  .brand-image-4,
  .brand-image-5 {
    border: none;
    width: 30rem;
    display: flex;
    justify-content: center;
  }
  .actual-form {
    border: none;
    width: 100%;
    height: 93%;
    margin-top: auto;
    padding-left: 6rem;
  }
  .form-submit-button > button {
    height: 5rem;
  }
  .form-submit-button {
    margin-top: 0;
  }
  .first-form-para > p {
    font-size: 1rem;
  }
  .footer-image,
  .simple-save-lovely,
  .footer-third-div,
  .footer-last-button {
    height: 100%;
  }
  .footer-sub-first,
  .footer-sub-second {
    padding-top: 4.4rem;
  }
  .footer-second-third-div {
    top: 0;
  }
  .footer-first-para {
    top: 4rem;
  }
  .footer-first-info {
    top: 4.2rem;
  }
  .special-apps {
    padding: 4rem;
  }
  .product-special-brand,
  .special-courses,
  .special-others {
    gap: 70px;
    padding: 4rem;
  }
  .courses-card-container {
    gap: 5rem;
  }
  .special-form {
    top: 10rem;
  }
  .special-footer {
    top: 10rem;
  }
}
@media (max-width: 1440px) {
  .first-navbar {
    height: 10rem;
  }
  .navbar-logo {
    width: 10rem;
  }
  .links,
  .first-button > a,
  .second-button {
    font-size: 1.2rem;
  }
  .first-button,
  .second-button {
    border-radius: 6px;
    height: 3.75rem;
    width: 11.25rem;
  }

  .navbar-buttons-home {
    width: 32.625rem;
    height: 6rem;
  }
  .first-sub-container {
    height: 52vh;
  }
  .brand-image-1,
  .brand-image-2,
  .brand-image-3,
  .brand-image-4,
  .brand-image-5 {
    width: 15rem;
  }
  .footer-first-para {
    top: 4rem;
  }
  .h1,
  h1 {
    font-size: 3.5rem;
  }
  .first-container {
    height: 70rem;
  }
  .form-submit-button {
    margin-top: 2vw;
  }
  .footer-second-third-div > p {
    padding-top: 0px;
    padding-left: 1rem;
    color: #0a142f;
    position: relative;
    top: -73px;
  }
  .image-of-footer,
  .footer-button {
    top: -5.25rem;
  }
  .footer-first-info {
    top: 0rem;
  }
  .footer-last-button {
    justify-content: flex-start;
  }
  .actual-form {
    height: 90%;
  }
  .form-submit-button > button {
    height: 4rem;
  }
}
/* laptop */
@media (max-width: 1024px) {
  .navbar-buttons-home {
    width: 28.625rem;
    height: 5rem;
  }
  .h1,
  h1 {
    font-size: 2.8rem;
  }
  .brand-image-1,
  .brand-image-2,
  .brand-image-3,
  .brand-image-4,
  .brand-image-5 {
    width: 10rem;
  }
  .special-form {
    width: 60rem;
  }
  .special-apps,
  .special-others {
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .special-footer,
  .special-form {
    top: 8rem;
  }
  .product-special-brand,
  .special-courses {
    gap: 70px;
    padding: 3rem;
  }
  .first-form-image {
    width: 16rem;
  }
  .first-form-para {
    width: 23rem;
    height: 18rem;
  }
  .first-form-para > p {
    font-size: 1rem;
  }
  .footer-second-third-div {
    top: 0;
  }
  .footer-second-third-div > p {
    padding-top: 0px;
    padding-left: 1rem;
    color: #0a142f;
    position: relative;
    top: -73px;
  }
  .courses-card {
    width: 480px;
  }
  .courses-card .courses-1-sub-div-1 {
    width: 225px;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .navbar-buttons-home {
    display: none;
  }
  .navbar-hamburger {
    display: flex;
  }
  .first-container {
    height: 50rem;
  }
  .first-sub-container {
    flex-direction: column;
    height: 35vh;
  }
  .simple {
    padding-left: 20px;
    font-size: 1.5rem;
  }
  .lovely,
  .sub-second-div {
    font-size: 5rem;
    padding-left: 2.286rem;
  }
  .sub-second-div {
    padding-top: 0;
  }
  .links,
  .first-button > a,
  .second-button {
    font-size: 1rem;
  }
  .buttons {
    flex-direction: column;
    position: relative;
    height: 20vh;
    top: 3rem;
  }
  .first-button,
  .second-button {
    border-radius: 6px;
    height: 2.75rem;
    width: 9.25rem;
  }
  .special-brands {
    top: 9rem;
  }
  .h1,
  h1 {
    font-size: 2rem;
  }
  .brand-image-1,
  .brand-image-2,
  .brand-image-3,
  .brand-image-4,
  .brand-image-5 {
    width: 8rem;
  }
  .card-container {
    margin-left: 2rem;
    padding: 0 10px;
  }
  .courses-card {
    width: 485px;
  }
  .courses-card .courses-1-sub-div-1 {
    width: 225px;
  }
  .actual-form {
    padding-left: 2rem;
  }
  .heading-form > h1 {
    font-size: 1.875rem;
  }
  .special-form {
    width: 90%;
    height: 30.5rem;
  }
  .form-submit-button > button {
    font-size: 1rem;
    height: 3rem;
  }
  .first-form-image {
    width: 11rem;
    top: 1rem;
  }
  .first-form-para > p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .para-form > p {
    font-size: 0.9rem;
  }
  .first-form-para {
    width: 18rem;
    height: 10rem;
  }
  .contact-name,
  .city,
  .postcode {
    height: 4rem;
  }
  .footer-first-third-div {
    height: 100%;
  }
  .footer-sub-first,
  .footer-sub-second {
    padding-top: 11.2rem;
  }
  .footer-last-button {
    width: 7rem;
    justify-content: flex-start;
  }
  .side-navbar-links {
    width: 100%;
    height: 70vh;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .simple-save-lovely {
    width: 16rem;
  }
  .side-navbar-heading-div {
    height: 16vh;
  }
  .side-navbar-heading {
    font-size: 2rem;
  }
  .material-icons {
    cursor: pointer;
  }
  .card-main-container {
    height: 32rem;
  }
  .courses-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .special-footer {
    width: 100%;
  }
  .footer-sub-first,
  .footer-sub-second {
    padding-top: 6.2rem;
  }
  .image-of-footer {
    width: 12.375rem;
    height: 9.375rem;
  }
  .footer-image {
    width: 8rem;
  }
  .footer-first-para {
    top: 6rem;
  }
  .footer-first-para > p {
    font-size: 20px;
  }
  .footer-first-container {
    margin: auto;
    display: flex;
    justify-content: flex-start;
  }
  .footer-second-third-div {
    top: 0;
  }
  .footer-button {
    width: 5vw;
  }
  .footer-first-info {
    top: 2rem;
  }
  .footer-second-third-div > p {
    padding-top: 0px;
    padding-left: 1rem;
    color: #0a142f;
    position: relative;
    top: -36px;
  }
}

/* Small Mobile Devices */
@media (max-width: 480px) {
  .navbar-buttons-home {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .side-navbar-heading {
    font-size: 1rem;
  }
  .sidebar {
    margin-left: 0;
  }
  .nav-2 {
    display: none;
  }
  .first-container {
    height: 65rem;
  }
  .first-sub-container {
    flex-direction: column;
    height: 24rem;
  }
  .lovely,
  .sub-second-div {
    font-size: 4rem;
    padding-top: 0.714rem;
  }
  .simple {
    font-size: 1.25rem;
    padding-left: 0;
  }
  .buttons {
    flex-direction: column;
    gap: 1.5vw;
    top: 0;
  }
  .card {
    width: 303px;
  }
  .courses-card .courses-1-sub-div-1 {
    width: 150px;
    height: 100px;
  }
  .courses-card .card-1-div {
    height: 50%;
    gap: 10px;
  }
  .card-1-button-1 {
    width: 130px;
    font-size: 14px;
  }
  .special-brands {
    top: 0;
  }
  .rectangle {
    width: 18rem;
  }
  .card-container {
    margin-left: 2rem;
    padding: 0 10px;
  }
  .card-main-container {
    height: 30rem;
  }
  .second-page-current-page {
    width: 7.5rem;
  }
  .product-special-brand {
    height: 24rem;
  }
  .brands {
    height: 10rem;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .special-form {
    height: 65.5rem;
    top: 9rem;
  }
  .actual-form {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .form-submit-button > button {
    font-size: 1.2rem;
  }
  .form-image {
    padding-left: 0rem;
    position: relative;
    top: 2rem;
  }
  .first-form-para > p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.85rem;
  }
  .first-form-para {
    width: 15rem;
    height: 20rem;
    top: 30px;
    justify-content: center;
    margin: auto;
  }
  .special-footer {
    height: 26.5rem;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .footer-first-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .footer-image {
    display: none;
  }

  .footer-first-para {
    top: 1rem;
    width: 16.375rem;
  }
  .footer-first-third-div {
    gap: 0;
  }
  .footer-first-info {
    top: 0px;
  }
  .footer-sub-first {
    padding-top: 0;
    padding-left: 1rem;
  }
  .footer-sub-second {
    padding-top: 0;
    width: 10rem;
  }
  .footer-third-div {
    height: 100%;
    width: 25rem;
  }
  .footer-last-button {
    display: none;
  }
  .footer-second-third-div,
  .footer-second-third-div > p {
    top: 0;
  }
  .footer-second-last-button {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .footer-second-button {
    top: 0;
    height: 16vh;
    width: 16vw;
  }
  .filling-form {
    height: 40%;
  }
  .first-form-image {
    top: 0;
  }
}

/* Legal Section */
.legal-heading {
  color: #ea7928;
  font-family: "Fenix", serif;
  padding-top: 0.714rem;
  padding-right: 1.286rem;
  padding-bottom: 2%;
}
.legal-simple {
  color: #6d2e00;
  font-weight: 550;
  font-family: "Nunito Sans", sans-serif;
}
.legal {
  padding-left: 3%;
}
p {
  font-family: "Nunito Sans", sans-serif;
  padding: 1%;
}

/* Ensure consistent font family and size for all card text */
.card p, .card h3, .card h4 {
  font-family: 'Nunito Sans', sans-serif; /* Replace with the desired font family */
  font-size: 16px; /* Adjust the size to match other cards */
  line-height: 1.5; /* Set consistent line height */
  color: #000; /* Set consistent text color */
  font-weight: normal; /* Adjust weight if necessary */
}

/* Optional: Adjust specific elements like headings */
.card h3, .card h4 {
  font-weight: bold; /* Ensure headings are bold */
  font-size: 18px; /* Adjust heading size */
}

.special-others .card-container {
  position: relative;
  left: -45px; /* Move the card 20px to the left. Delete when more cards are added */
}

/* Initially hide the visual chevron indicators */
.mobile-chevron-indicator {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  z-index: 1000;
  color: #888; /* Chevron color */
  pointer-events: none; /* Ensure the arrows don't interfere with swipe or tap events */
  opacity: 0.7; /* Make it slightly transparent */
}

/* General chevron styling for mobile */
.mobile-chevron {
  display: none; /* Hidden by default */
}

@media (max-width: 768px) {
  /* Show chevrons only for the Apps section */
  .special-apps .mobile-chevron {
    display: block;
  }

  /* Hide chevrons for the Courses and Others sections */
  .special-courses .mobile-chevron,
  .special-others .mobile-chevron {
    display: none;
  }
}




